# Ignore everything in the migrations folder
conference/migrations/*
# But do NOT ignore the .py migration files
!conference/migrations/*.py
# Also do NOT ignore the folder itself (needed for exceptions to work)
!conference/migrations/
